@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap");
@font-face {
  font-family: Metropolis;
  src: url(../font/Metropolis-Regular.otf);
}

@font-face {
  font-family: Metropolis-bold;
  src: url(../font/metropolis.bold.otf);
}

html {
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  min-width: 100%;
  font-family: Metropolis, "Roboto", sans-serif;
}

nav {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 0 1px 10px 0px #c4c4c4;
          box-shadow: 0 1px 10px 0px #c4c4c4;
}

.navbar-brand {
  font-family: Metropolis-bold;
  color: #ff8300 !important;
}

.nav-scrolled {
  background: linear-gradient(45deg, orange, #ff8300);
}

.nav-scrolled .navbar-brand,
.nav-scrolled .nav-link {
  color: white !important;
}

.nav-scrolled .btn {
  background: white;
  color: #ff8300 !important;
}

nav .btn {
  background: linear-gradient(45deg, orange, #ff8300);
  color: white;
}

.img-container img {
  width: 100%;
  height: 100%;
}

#hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  min-height: 89vh;
}

#hero .img-container {
  max-width: 35%;
}

#hero-text {
  max-width: 40%;
}

@media screen and (max-width: 576px) {
  #hero-text {
    max-width: 90%;
  }
}

#hero-text h2 {
  color: #ff8300;
  font-family: Metropolis-bold;
}

#hero-text p {
  line-height: 1.95;
}

#hero-text .btn {
  font-weight: bolder;
  color: #fff;
  background: linear-gradient(45deg, orange, #ff8300);
}

#booking {
  padding: 4.5rem 7.5rem;
}

#booking h4 {
  font-family: Metropolis-bold;
}

.cards-container .Card {
  width: 100px;
  padding: 1.5rem 0.5rem;
  padding-bottom: 0.5rem;
}

.cards-container .Card h6 {
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.cards-container .Card .icon-wrap {
  width: 40px;
  aspect-ratio: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.cards-container .Card .icon-wrap img {
  width: 60%;
}

#login-modal .modal-body h4 span {
  color: #ff8300;
  font-family: Metropolis-bold;
}

#login-modal .modal-body form input.form-control {
  border-radius: 10px;
  padding: 0.5rem 2rem;
}

#login-modal .modal-body .btn {
  background: linear-gradient(45deg, orange, #ff8300);
  color: white;
}

#signup-modal {
  -webkit-box-shadow: 0 0 10px lightgray;
          box-shadow: 0 0 10px lightgray;
}

#signup-modal h4 span {
  color: #ff8300;
  font-family: Metropolis-bold;
}

#signup-modal .btn {
  background: linear-gradient(45deg, orange, #ff8300);
  color: white;
}

#signup-modal form {
  padding: 2rem 3rem;
}

#signup-modal form .user-name input {
  width: 45%;
}

#signup-modal form .mobile {
  min-width: 100%;
}

#signup-modal form .mobile select {
  padding: 0;
  max-width: 40%;
  text-align: center;
}

#signup-modal form .mobile .form-control {
  width: calc(50% - 0.75rem);
  -ms-grid-column-align: end;
      justify-self: end;
}

.register-form {
  -webkit-box-shadow: 0 0 10px lightgray;
          box-shadow: 0 0 10px lightgray;
}

.register-form h4 span {
  color: #ff8300;
  font-family: Metropolis-bold;
}

.register-form .btn {
  background: linear-gradient(45deg, orange, #ff8300);
  color: white;
}

.register-form form {
  max-width: 60%;
  padding: 2rem 3rem;
}

.register-form form .user-name input {
  width: 45%;
}

.register-form form .mobile {
  min-width: 100%;
}

.register-form form .mobile select {
  padding: 0;
  max-width: 40%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .register-form form .mobile select {
    max-width: 80%;
  }
}

.register-form form .mobile .form-control {
  width: calc(50% - 0.75rem);
}

@media screen and (max-width: 768px) {
  .register-form form .mobile .form-control {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .register-form form {
    max-width: 100%;
  }
}

.signin-prompt .prompt-btn1 {
  background: linear-gradient(45deg, orange, #ff8300);
}

footer [href="#"] {
  text-decoration: none;
  color: unset;
}

footer [href="#"]:hover {
  color: #ff8300;
}

footer ul li {
  cursor: pointer;
}

footer ul li:hover {
  color: #ff8300;
}
/*# sourceMappingURL=home.css.map */